<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 pt-2">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Recipe Book</a>
    <div class="collapse navbar-collapse">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="!isAuthenticated"><a class="nav-link" routerLinkActive="active" routerLink="/auth">Authenticate</a></li>
        <li class="nav-item" *ngIf="isAuthenticated"><a class="nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" role="button" style="cursor: pointer;" (click)="onLogout()">Logout</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isAuthenticated">
            <a class="nav-link dropdown-toggle" role="button" style="cursor: pointer;" appDropdown>Manage</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
              </li>
              <li class="nav-item"><a class="nav-link" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
